/* 
    Created on : Dec 6, 2013, 10:45:26 AM
    Author     : dave
*/

#result-list-wrapper {
    
    .next-page, .prev-page {
        color: white;
    }

    .active {
        color: blue;
    }

}