/* 
    Created on : Dec 6, 2013, 12:43:59 PM
    Author     : dave
*/


#map {
    position: absolute;
    height: 75%;
    width: 100%;
}

#result-list-wrapper {
    position: absolute;
    top: 75%;
    width: 100%;
}